@tailwind base;
@tailwind components;
@tailwind utilities;


.rajdhani {
    font-family: 'Rajdhani', sans-serif;
}
.button {
    -webkit-box-shadow:0 0 1px #25262a; 
    -moz-box-shadow: 0 0 1px #25262a; 
    box-shadow:0 0 1px #25262a; 
  }

  .button:hover span {
    border: white solid 8px;
    border-bottom: 8px solid gray;
    
  }
 

  .nav-items {
    color: #ffaf29; 
  }

  .blinking-cursor {
    display: inline-block;
    width: 0.07em;
    vertical-align: top;
    height: 90px;
    background-color: black;
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

h1 span {
    color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.Mubarak {
  color:#47484b;  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #47484b;
}

.text-after-hero {
    animation: emerge 4s;
}
  
  
@keyframes emerge {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

  .text-after-hero-2 {
    animation: appear 7s;
}
  
  
@keyframes appear {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

  .animate {
    opacity: 0; 
    visibility:hidden; 
    transform: translateY(0px); 
    transition: transform 1s, opacity 2s; 
  }
  
  .animate.appear {
    opacity: 1; 
    visibility:visible; 
    transform: translateY(0px); 
  }

.my-image {
  opacity: 0; 
  visibility:hidden; 
  transform: translateY(0px); 
  transition: transform 1s, opacity 3s; 
}

.my-image.fade-up {
  opacity: 1; 
  visibility:visible; 
  transform: translateY(0px); 
}

.my-circle {
  opacity: 0; 
  visibility: hidden; 
  transform: rotate(-80deg); 
  transition: transform 4s, opacity 4s; 
  transition-delay: 800ms; 
}

.my-circle.fade-in {
  opacity: 1; 
  visibility:visible; 
  transform: rotate(0deg); 
}

.projects {
  opacity: 0; 
  visibility:hidden; 
  transform: translateY(20px); 
  transition: transform 1s, opacity 3s; 

}

.projects.fade {
  opacity: 1; 
  visibility:visible; 
  transform: translateY(0px);
  
}


.mobile-nav {
  opacity: 0; 
  visibility:hidden; 
  transform: translateY(20px); 
  transition: transform 4s, opacity 2s; 
}

.mobile-nav.fade-up {
  opacity: 1; 
  visibility:visible; 
  transform: translateY(0px); 
}

/* //////////////////////////////////////contact/////////////////// */

.form {
  position: relative;
  font-family: teachers, sans-sarif; 

}

input:focus, textarea:focus {
  outline-color: #47484b;
  border-radius: 0%; 
}
input:focus + .label,
textarea:focus + .label {
  top: -10px;
  font-size: 12px;
  color: #47484b; 
  background-color: white; 
  padding: 0 6px; 
  
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  color:#7d7d80;  
}

input, textarea {
  padding: 10px;
  -webkit-box-shadow:0 0 1px #47484b; 
  -moz-box-shadow: 0 0 5px #47484b; 
  box-shadow:0 0 1px #47484b;
  width: 200px;
  color:#47484b;
} 

.media a {
  border: 1px solid #47484b;
  border-radius: 9999999px; 
  width: 50px; 
  transition: opacity 2s ease, width 0.6s ease;
  overflow: hidden; 
}

.media a p {
  display: none; 
  font-size: 3px; 

  white-space: nowrap;        
  overflow: hidden;           
  text-overflow: ellipsis;    
}

.media a:hover p {
  display: inline; 
  font-size: 16px; 
}

.media a:hover {
  width: 140px;
}

.media:hover > :not(:hover) { /* if one of the children in .media is hovered other will apply this class.   */
  opacity: 0.4; 
}


/* /////////////////////////////////project card////////////////////////////////// */

.wrapper {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.wrapper .card img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.wrapper .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
}














